/**
 * @version 
 * @author Aparecido celso <Celsojrbr@gmail.com>
*/

a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	color:#fff;
	text-decoration:underline;
}
.navbar-brand:hover{
	color:#fff;
	text-decoration:underline;
}
.navbar-brand{
	color:#fff;
}

.nav-link:hover{
	text-decoration:underline;
}
